{% extends "mandate/base.html" %}

{% load extras %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'mandate/test.css' %}">
<link rel="stylesheet" href="{% static 'mandate/testpdf.css' %}">
{% endblock %}

{% block content %}
<h1>NPCI Ack upload</h1>
<form action="{% url 'mandate:npciack' %}" method="post" enctype="multipart/form-data">

	{% csrf_token %}

    {{form}}

    <button type="submit">Submit</button>

</form>

{% if status_list %}

<table class="table table-sm text-center">
    <thead>
        <tr>
            <th scope="col">Filename</th>
            <th scope="col">Found</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        {% for status in status_list %}
        <tr>
            <td>{{status.filename}}</td>
            <td>{{status.found}}</td>
            <td>{{status.status}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endif %}

{% endblock %}