{% extends "mandate/base.html" %}

{% load extras %}
{% load static %}
{% load humanize %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'mandate/test.css' %}">
<link rel="stylesheet" href="{% static 'mandate/testpdf.css' %}">
{% endblock %}

{% block content %}
<h1>Search Mandate</h1>

{% if mandates.count == 0 %}
<p>No records exist</p>
{% elif mandates.count == 1 %}
<p>1 mandate found</p>
{% else %}
<p> {{ mandates.count }} mandate found</p>
{% endif %}

{% if mandates %}

{% include './include/mandate_table.html' %}

{%endif%}

{% endblock %}